* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #F3AC3C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-box {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-first {
  width: 300px;
  height: 500px;
  background-color: #1A4341;
  position: absolute;
  left: 300px;
}

.box-second {
  width: 300px;
  height: 250px;
  background-color: #1A4341;
  position: absolute;
  right: 200px;
  bottom: 250px;
}

.box-third {
  width: 300px;
  height: 125px;
  position: absolute;
  background-color: #998235;
  right: 200px;
  top: 250px;
}

.box-fourth {
  width: 150px;
  height: 125px;
  position: absolute;
  right: 350px;
  top: 375px;
  background-color: #998235;
}